{% load static %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
<title>Home</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="page">
  {% include 'menu.html' %} 
    <main class="page-content">
      {% if messages %}
        {% for mensaje in messages %}
          <div class="alert {% if mensaje.tags == 'success'%} alert-success{% else %} alert-danger {% endif %}" role="alert" style="color: black;">
            <strong>{{ mensaje }}</strong>
            <button type="button" class="close" data-dismiss="alert" arial-label="close">
            <spam aria-hidden="true">&times;</spam>
            </button>
          </div>
        {% endfor %}    
      {% endif %}
      <section class="section-50 section-md-50 bg-gray-lighter">
        <div class="shell">
          <div class="range">
            <div class="cell-md-8 cell-sm-20 cell-lg-5">
              <h4 class="txt-gray-darker">Registro de Vehículos</h4>
              <div class="divider-lg-2 offset-top-10"></div>
              <!-- form -->
              <form action="/post_crear/" method="POST">
                {% csrf_token %}
                <div class="form-group offset-top-20">
                  <label for="marca"><h6>Fabricante</h6></label>
                  <select name="fabricante" id="fabricante" required>
                    {% for time, nombre in comb_lst %}
                    <option value="{{time}}">{{nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group offset-top-20">
                  <label for="modelo"><h6>Modelo</h6></label>
                  <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" required>
                </div>
                <div class="form-group offset-top-20">
                  <label for="descripcion"><h6>Descripción</h6></label>
                  <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción" required>
                </div>
                <div class="form-group offset-top-20">
                  <label for="nr_pines"><h6>Número de Pines</h6></label>
                  <table>
                    <td style="width: 45%;">
                      <label for="socket_a"><h7>Socket A</h7></label>
                      <input type="number" class="form-control stepper-input" id="socket_a" name="socket_a" placeholder="Socket A" required>
                    </td>
                    <td style="width: 2%;"></td>
                    <td style="width: 50%;">
                      <label for="socket_b"><h7>Socket B</h7></label>
                      <input type="number" class="form-control stepper-input" id="socket_b" name="socket_b" placeholder="Socket B" required>
                    </td>
                  </table>
                  
                </div>
                <div class="form-group offset-top-20">
                  <label for="imagen"><h6>Imagen</h6></label>
                  <input class="form-control" type="file" name="files[]" id="files" accept="image/*" required>
                  <input type="hidden" name="imagen" id="imagen">
                  <button type="button"  class="offset-top-5 btn btn-xs btn-rect btn-info" onclick="uploadimage()">Subir Imagen</button>
                  <p class="offset-top-2">Asegurese de Subir la imagen antes de registrar</p>
                </div>
                <div class="form-group offset-top-30">
                  <button type="submit" class="btn btn-rect btn-success">Registrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>  
    </main>
    {% include 'footer.html' %}
</div> 
<script src="{% static 'js/core.min.js' %}"></script> 
<script src="{% static 'js/script.js' %}"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script>
</body>

<script>
  var config = {
      apiKey: 'AIzaSyA9FRv5pqrjqufN9SIE6tRzG6JRU-dr_QI',
      authDomain: 'vehiculos-6f105.firebaseapp.com',
      databaseURL: 'https://vehiculos-6f105.firebaseio.com',
      storageBucket: 'vehiculos-6f105.appspot.com',
      messagingSenderId: "536521949602"
  };

  firebase.initializeApp(config);

   function uploadimage() {
    
      var storage = firebase.storage();

      var file = document.getElementById("files").files[0];

      var storageRef = storage.ref();

      var thisref = storageRef.child("Vehiculos").child(file.name).put(file);

      thisref.on('state_changed', function (snapshot) {

              console.log("file uplaoded succesfully");

          },
          function (error) {
           
          },

          function () {
              // Upload completed successfully, now we can get the download URL
              //alteracion del codigo original funciona
              var PromiseURL = thisref.snapshot.ref.getDownloadURL();

              PromiseURL.then((value)=>{
                  var downloadURL = value;
                  document.getElementById("imagen").value = downloadURL;
                  console.log(downloadURL);
              });
              
              alert("Imagen Cargada Correctamente");
          });
      
  }
  </script>

</html>