{% load static %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
<title>Detalle Veh&iacute;culo</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/_modal.scss' %}">
</head>
<body>  
<div class="page">
  {% include 'menu.html' %}
    <main class="page-content">
      <div class="container text-center mt-4">
        {% if f %}
        <a href="/lst_vehiculo_by_fab/?z={{f}}" class="btn btn-xs btn-rect btn-danger btn-icon btn-icon-left btn-rect pull-md-left offset-lg-top-10 offset-top-20 reveal-block reveal-sm-inline-block">
          <span class="icon icon-md	mdi-arrow-left-bold"></span><span>Regresar</span></a>
        {% else %}
        <a href="{% url 'lst_vehiculo' %}" class="btn btn-xs btn-rect btn-danger btn-icon btn-icon-left btn-rect pull-md-left offset-lg-top-10 offset-top-20 reveal-block reveal-sm-inline-block">
          <span class="icon icon-md	mdi-arrow-left-bold"></span><span>Regresar</span></a>
        {% endif %}
      </div>
      <section class="section-50 section-md-60">
        <div class="container text-center mt-6 section-20">
          {% if messages %}
          {% for mensaje in messages %}
            <div class="alert {% if mensaje.tags == 'success'%} alert-success{% else %} alert-warning {% endif %}" role="alert" style="color: black;">
              <strong>{{ mensaje }}</strong>
              <button type="button" class="close" data-dismiss="alert" arial-label="close">
              <spam aria-hidden="true">&times;</spam>
              </button>
            </div><br>
          {% endfor %}    
        {% endif %}
      </div>
        <div class="shell">
          <div class="range text-center">
            <div class="cell-md-6 inset-md-left-38 inset-md-right-38">
            <img src="{{imagen}}" alt="" style="width: 160px; height: 150px; border-radius: 150px;"/>
              <h4 class="txt-primary divider-xs offset-top-15 offset-md-top-25">Vehículo</h4>

              <p class="offset-top-30 offset-md-top-20"><strong>Fabricante: </strong>{{ nombre_fabricante }}</p>
              <p class="offset-top-30 offset-md-top-10"><strong>Modelo: </strong>{{ modelo }}</p>
              <p class="offset-top-30 offset-md-top-10"><strong>Descripción: </strong>{{ descripcion }}</p>
              <p class="offset-top-30 offset-md-top-10"><strong>Nro. Sockets: </strong>{{ nsockets }}</p>

              <div class="responsive-tabs responsive-tabs-horizontal-buttons offset-top-30 responsive-tabs-default">
              <table class="table table-striped-custom" id="data">
                <thead>
                  <tr><th colspan="3" style="text-align: center;" >LISTADO DE SOCKETS</th></tr>
                </thead>
                <tbody>
                  <!-- for -->
                  {% for i in lst_sockets %}               
                  <tr>
                    <td style="width: 40%; text-align: center;">{{i}}</td>
                    <td style="width: 40%;"><a href="/lst_pines/?k={{id_fabricante}},{{id_vehiculo}},{{i}}" data-toggle="modal"
                        class="btn btn-xs btn-rect btn-success"><span class="icon icon-md mdi-eye"></span></a></td>
                  </tr>                  
                  {% endfor %}
                  <!-- finfor -->
                </tbody>
              </table>
            </div>
            </div>
            <div class="cell-md-6 offset-top-50 offset-md-top-0 inset-md-left-38 inset-md-right-38">
                <div class="cell-sm-6 cell-lg-3">
                    <div class="thumbnail-custom"><img src="{{imagen_sec}}" alt="" width="620" height="300"/>    
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include 'footer.html' %}
</div> 

<script src="{% static 'js/core.min.js' %}"></script> 
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>