{% load static %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
<title>Editar</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="page">
  {% include 'menu.html' %} 
    <main class="page-content">
        {% if messages %}
          {% for mensaje in messages %}
            <div class="alert {% if mensaje.tags == 'success'%} alert-success{% else %} alert-warning {% endif %}" role="alert" style="color: black;">
              <strong>{{ mensaje }}</strong>
              <button type="button" class="close" data-dismiss="alert" arial-label="close">
                <spam aria-hidden="true">&times;</spam>
              </button>
            </div>
          {% endfor %}    
        {% endif %}
        <section class="section-50 section-md-50 bg-gray-lighter">
          <div class="shell">
            <div class="range">
              <div class="cell-md-8 cell-sm-20 cell-lg-5">
                <h4 class="txt-gray-darker">Edición de Vehículos</h4>
                <div class="form-group offset-top-20">
                  <label for="marca"><h6>Fabricante:
                    <span style="font-size: 17px; color: limegreen;">{{nombre_fabricante}}</span></h6>
                  </label>
                </div>
                <div class="divider-lg-2 offset-top-10"></div>
                <!-- form -->
                <form action="/actualizar/">
                  {% csrf_token %}
                  <input type="hidden" name="nav" value="{{ f }}">
                  <input type="hidden" name="id_vehiculo" value="{{ id_vehiculo }}">
                  <input type="hidden" name="id_fabricante" value="{{ id_fabricante }}">
                  
                  <div class="form-group offset-top-20">
                    <label for="modelo"><h6>Modelo</h6></label>
                    <input type="text" class="form-control" id="modelo" name="modelo" value="{{ modelo }}" placeholder="Modelo" required>
                  </div>
                  <div class="form-group offset-top-20">
                    <label for="descripcion"><h6>Descripción</h6></label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ descripcion }}" placeholder="Descripción" required>
                  </div>
                  <div class="form-group offset-top-20">
                    <label for="nsockets"><h6>Número de Sockets</h6></label>
                    <input type="number" class="form-control stepper-input" id="nsockets" name="nsockets" value="{{ nsockets }}" placeholder="Nro. Sockets"
                    min="1" max="50" required>
                  </div>
                  <div class="form-group offset-top-30">
                    <label for="imagen"><h6>Imagen del Vehículo</h6></label>
                    <img src="{{imagen}}" width="5%">
                    <input class="form-control" type="file" name="files[]" id="files" accept="image/*" onchange="uploadimage()">
                    <input type="hidden" name="imagen" id="imagen" value="{{imagen}}">
                  </div>
                  <div class="form-group offset-top-30">
                    <label for="imagen"><h6>Imagen de Pin Global</h6></label>
                    <img src="{{imagen_sec}}" width="5%">
                    <input class="form-control" type="file" name="files_sec[]" id="files_sec" accept="image/*" onchange="uploadimage_sec()">
                    <input type="hidden" name="imagen_sec" id="imagen_sec" value="{{imagen_sec}}">
                  </div>
                  <div class="form-group offset-top-30">
                    <button type="submit" class="btn btn-rect btn-success">Actualizar</button>
                  {% if f %}
                  <button type="button" class="btn btn-rect btn-danger"
                  onclick="location.href='/lst_vehiculo_by_fab/?z={{id_fabricante}}'">Cancelar</button>
                  {% else %}
                  <button type="button" class="btn btn-rect btn-danger"
                  onclick="location.href='{% url 'lst_vehiculo' %}'">Cancelar</button>
                  {% endif %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
    </main>
</div> 
<script src="{% static 'js/core.min.js' %}"></script> 
<script src="{% static 'js/script.js' %}"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script>
</body>
<script>
  var config = {
      apiKey: 'AIzaSyA9FRv5pqrjqufN9SIE6tRzG6JRU-dr_QI',
      authDomain: 'vehiculos-6f105.firebaseapp.com',
      databaseURL: 'https://vehiculos-6f105.firebaseio.com',
      storageBucket: 'vehiculos-6f105.appspot.com',
      messagingSenderId: "536521949602"
  };

  firebase.initializeApp(config);

   function uploadimage() {
      var storage = firebase.storage();

      var file = document.getElementById("files").files[0];

      var storageRef = storage.ref();

      var thisref = storageRef.child("Vehiculos").child(file.name).put(file);

      thisref.on('state_changed', function (snapshot) {
          },
          function (error) {

          },

          function () {
              // Upload completed successfully, now we can get the download URL
              //alteracion del codigo original funciona
              var PromiseURL = thisref.snapshot.ref.getDownloadURL();

              PromiseURL.then((value)=>{
                  var downloadURL = value;
                  document.getElementById("imagen").value = downloadURL;
                  console.log(downloadURL);
              });
              
              alert("¡La imagen se ha cargada correctamente!");
          });
  
  }

  function uploadimage_sec(){
      var storage = firebase.storage();
      var file = document.getElementById("files_sec").files[0];
      var storageRef = storage.ref();
      var thisref = storageRef.child("Pin_Global").child(file.name).put(file);

      thisref.on('state_changed', function (snapshot) {

          },
          function (error) {
          },
          function () {
              var PromiseURL = thisref.snapshot.ref.getDownloadURL();
              PromiseURL.then((value)=>{
                  var downloadURL = value;
                  document.getElementById("imagen_sec").value = downloadURL;
                  console.log(downloadURL);
              });
              alert("¡La imagen se ha cargada correctamente!");
          });
  }
  </script>
</html>