{% load static %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
<title>Inicio</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>  
<div class="page">
  {% include 'menu.html' %}
    <main class="page-content">
      
      <section class="section-25 section-md-30">
        <div class="shell-fluid inset-sm-left-75 inset-sm-right-75">
          <h3 class="text-center divider-sm divider-sm-mod-2 txt-white" style="color: black;">Listado de Fabricantes</h3></br>
          <div class="container text-align" >   
            <form id="fabricantes" action="/buscar_f" method="GET" class="rd-search rd-navbar-search rd-navbar-search-sm" >
              {% csrf_token %}
              <div class="form-group " >
                <input type="hidden" name="ind" value="ind">
                <input type="text" name="search" autocomplete="off" placeholder="Buscar...." class="form-control">
                <button type="button" class="icon fa-search icon-gray-dark" onclick="location.href='/'"></button>
              </div>
            </form>
          </div>
          <div class="range offset-top-30">
            {% for list_time,nombre,imagen in comb_lst %}
            <div class="cell-sm-6 cell-lg-3 offset-top-10">
              <div class="thumbnail-custom text-center"><img src="{{imagen}}" style="width: 205px; height: 175px;"/>
                <div class="caption">
                  <h6 class="txt-primary" style="text-align: center;"><a href="/lst_vehiculo_by_fab/?z={{list_time}}">{{nombre}}</a></h6>   
                  <div class="text-center offset-top-30">
                    <a href="/lst_vehiculo_by_fab/?z={{list_time}}" class="btn btn-sm-3 btn-primary btn-icon btn-icon-left btn-shadow btn-rect">
                      <span class="icon icon-md mdi-eye"></span>
                      <span>Ver Vehículos</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>           
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    {% include 'footer.html' %}
</div> 
<script src="{% static 'js/core.min.js' %}"></script> 
<script src="{% static 'js/script.js' %}"></script>
</body>
<!-- End Google Tag Manager -->
</html>